body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #edf2f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6e7071;
}
main {
  position: relative;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
}
.drawers {
  width: 350px;
  border-radius: 15px 0 0 15px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.content {
  padding: 0 30px;
}
h1 {
  margin: 10px auto;
  font-size: 25px;
  color: #4e525c;
}
.card {
  display: flex;
  align-items: center;
  margin: 10px;
}
.modal-share {
  position: absolute;
  top: 140px;
  right: -52px;
  background-color: #48556b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  padding: 0 30px;
  border-radius: 15px;
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.triangle {
  clip-path: polygon(50% 50%, 0 0, 100% 0);
  background-color: #48556b;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50px;
  right: 120px;
}
.modal-share p {
  color: #929eb4;
  letter-spacing: 4px;
}
.card p,
.card h3 {
  margin: 5px auto;
}
.share {
  margin: auto 15px auto auto;
  padding: 15px;
  background-color: #eaf0fb;
  border-radius: 50%;
}

.attribution {
  position: absolute;
  bottom: 15px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 910px) {
  main {
    flex-direction: column;
    width: min-content;
  }
  .modal-share {
    position: absolute;
    bottom: 0;
    top: auto;
    right: auto;
    left: 0;
    padding: 0;
    width: 100%;
    height: 60px;
  }
  h3 {
    font-size: 16px;
  }
  h1 {
    margin-top: 35px;
  }
}
